body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222;
    color: white;
    margin: 0;
    padding: 0;
}



.container {
    position: relative;
    width: 90vw;  /* 90% del ancho de la pantalla */
    max-width: 500px;  /* Máximo 500px de ancho */
    aspect-ratio: 9 / 16; /* Mantiene la relación 16:9 */
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid white;
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}

.guias {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;  /* Las guías se activan/desactivan con JavaScript */
    z-index: 2;
}

.linea {
    position: absolute;
    background: white;
    opacity: 0.5;
}

.linea.vertical-1 { width: 1px; height: 100%; left: 33%; top: 0; }
.linea.vertical-2 { width: 1px; height: 100%; left: 66%; top: 0; }
.linea.horizontal-1 { height: 1px; width: 100%; top: 33%; left: 0; }
.linea.horizontal-2 { height: 1px; width: 100%; top: 66%; left: 0; }

.circulo {
    position: absolute;
    width: 85%;
    height: 85%;
    border: 1px solid white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.btn-guias, #toggleCameraButton, #captureButton {
    position: absolute;
    background: rgb(255, 255, 255);
    color: rgb(41, 125, 125);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    z-index: 3;
}

#toggleCameraButton {
    top: 10px;
    left: 10px;
    color: rgb(11, 210, 210);

}

#captureButton {
    width: 12vw;  /* 12% del ancho de la pantalla */
    height: 12vw; /* Mantener proporción cuadrada */
    max-width: 50px;  /* No más de 50px de ancho */
    max-height: 50px; /* No más de 50px de altura */
    border-radius: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(11, 210, 210);
    font-size: 25px; /* Font size ajustado al tamaño de la pantalla */
}

.btn-guias {
    top: 10px;
    right: 10px;
}

#formatSelector {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

#preview {
    position: absolute;
  ;
    bottom: 10px;
    right: 80px;
  
    width: 70px;  /* Ajustado al 80% del ancho de la pantalla */
    height: auto;
    display: none;
    border: 2px solid white;
}

/* Marca de agua (Logo) */
.marca-agua {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 30%;  /* Ajustado al 20% del ancho de la pantalla */
    max-width: 200px; /* Tamaño máximo de 100px */
    opacity: 0.8; /* Opacidad baja para dar efecto de marca de agua */
    z-index: 4;
}



#video.mirror {
    transform: scaleX(-1); /* Invierte horizontalmente */
}



.mirror {
    transform: scaleX(-1); /* Invierte horizontalmente */
}